VITE_API_URL=https://dfi-production-38a9.up.railway.app/api/v1
VITE_SUPABASE_URL=https://pexztjeuxhbvlbitjxdm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBleHp0amV1eGhidmxiaXRqeGRtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1NTc4MTUsImV4cCI6MjA5OTEzMzgxNX0.NLAejWTC7s940rBRZbJ1Ek9Uxt1b1c6dV8sD8LikbEc
